# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120
charset = utf-8
indent_size = tab
indent_style = tab
tab_width = 4

# Matches the exact files either package.json or .travis.yml
[{package.json,.travis.yml,composer.json}]
tab_width = 2

[*.xml]
tab_width = 2

[COMMIT_EDITMSG]
max_line_length = 72
